<div class="sidebar">
    <!-- <div class="logo"> -->
        <img src="/menu-logo.jpg">
    <!-- </div> -->
    
    <div class="nav-links">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/">Sign in</a></li>
            <li><a href="/staff">Our Staff</a></li>
        </ul>
    </div>
    
    <div>
    <button class="out-btn">Logout</button>
    </div>
    
</div>