<!DOCTYPE html>
<html>
<head>
    <title>Cuisine Cafe || About</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="css/about.css">
</head>
<body>
    <div class="page-container">
        <div class="sidebar">
            <%- include('partials/sidebar.ejs') %>
        </div>

        <div class="about-content">
            <h1 class="abtTitle"><%= pageTitle %></h1>
            <p class="abt-sum">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Possimus veritatis, vel cupiditate modi quam inventore debitis praesentium 
                commodi eius alias soluta nam suscipit ut dolorum pariatur ratione vitae ducimus minima dolore explicabo sit exercitationem quidem, 
                tenetur ab! Eos, accusamus distinctio magnam quo excepturi velit reprehenderit, vero non, 
                necessitatibus libero qui?</p>
        </div> 
    </div>
</body>
</html>