<!DOCTYPE html>
<html>
<head>
    <title>Cuisine Cafe || Home</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <link rel="icon" href="">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>

    <div class="page-container">
        <div class="sidebar">
            <%- include('partials/sidebar.ejs') %>
        </div>

        <div class="content">
            <div class="image-with-text">
                <!-- <img src="/images/food-img.jpg" alt="Your Image">     -->
                <div class="text-container">
                    <h1 class="title"><%= pageTitle %></h1>
                    <p class="paragraph"><%= pageDescription %></p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>